# Symfony directories
/vendor/*
/app/logs/*
/app/cache/*
/web/uploads/*
/web/bundles/*
/app/bootstrap.php.cache
/app/config/parameters.yml

# Composer
/composer.phar

# PHPStorm
/.idea/

# Mac OS
.DS_Store