parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     SUPINFO_B3_Dev
    database_user:     root
    database_password: root

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    application.user.class:  YouFood\UserBundle\Entity\User
    application.group.class: YouFood\UserBundle\Entity\Group

    assets_base_urls: ['http://youfoodinc.com']

    payment_secret: youfood_payment_top_secret_secret

    paypal_username:  youfoo_1340016415_biz_api1.gmail.com
    paypal_password:  1340016444
    paypal_signature: A7-8nPB23JVAkcoUTl1c68RcGdU1AARgo-xHWDIghsovPQtTWIwIdmdw
